body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
}

#container {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 1px rgb(232, 231, 231) solid;
  box-shadow: 0 0 20px rgb(167, 167, 167);
}

h1 {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 300;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 2px rgb(232, 231, 231);
  height: 70px;
  position: relative;
}

.own {
  position: absolute;
  left: 50px;
  width: 93%;
}

#refres_icon {
  justify-self: flex-end;
  margin-right: 30px;
}

#in_text {
  width: 100%;
  display: flex;
}

#add {
  font-size: 20px;
  border: none;
  margin-left: 20px;
  color: black;
  width: 95%;
  outline: none;
  font-style: italic;
}

#dots {
  margin-right: 30px;
}

#add_form {
  width: 100%;
}

#add::placeholder {
  color: rgb(180, 179, 179);
}

#add_section {
  width: 100%;
  padding: 15px 0 15px 0;
  border: none;
  border-bottom: solid 2px rgb(232, 231, 231);
}

.description {
  margin-left: 25px;
  font-size: 20px;
  border: none;
  color: black;
  width: 95%;
  outline: none;
  font-style: italic;
  background-color: transparent;
}

.check {
  width: 33px;
  height: 30px;
  appearance: none;
  border: 4px rgb(224, 224, 224) solid;
  border-radius: 6px;
  margin-left: 20px;
}

.check:checked {
  content: "";
  width: 33px;
  height: 16px;
  border: 4px solid #5760fe;
  float: left;
  border-right: 0;
  border-top: 0;
  transform: rotate(-55deg);
  text-decoration: line-through;
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: rgb(194, 193, 193);
}

.icon {
  margin-right: 30px;
}

#clear_btn {
  padding: 35px 0 35px 0;
  border: none;
  background-color: rgb(234, 234, 234);
  font-size: 20px;
  color: rgb(155, 155, 155);
}

#clear_btn:active {
  color: black;
  text-decoration: underline;
}

.yellow {
  background-color: rgb(235, 235, 189);
}

.cross_out {
  text-decoration: line-through;
  color: rgb(168, 168, 168);
}

.white {
  background-color: white;
}

.hide {
  display: none;
}

.btn {
  margin-right: 30px;
  background-color: transparent;
  border: none;
  z-index: 1;
}
